.footer {
    background: $solution-color;
    padding-bottom: 60px;
    padding-top: 60px;

  & .studio {
    display: inline-block;
    text-decoration: none;
    color: $primary-body-color;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-style: normal;
    margin-bottom: 20px;
  }

  &__items li:not(:last-child) {
    margin-bottom: 9px;
  }

  &__items li {
    display: block;
  }

  &__link {
    text-decoration: none;
    line-height: 1.71;
    font-style: normal;
    color: $footer-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus,
  &__link:active {
    color: $decoration-text-color;
  }
  &__address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    color: $primary-body-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__address:hover,
  &__address:focus {
    color: $decoration-text-color;
  }
  & .container {
    display: flex;
    column-gap: 70px;
  }
  &__title {
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    color: $primary-body-color;
    margin-bottom: 20px;
  }
  &social {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 206px;
    height: 80px;
  }
& .social-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border: none;
    fill: $primary-body-color;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        background-color: $decoration-text-color;
        color: $primary-body-color;
      }
  }
}


.social-list-end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
