.visually-hidden {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.footer-input {
  min-width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer {
  display: inline-flex;
  flex-direction: column;
  max-height: 86px;
}
.form-footer-title {
  color: $primary-body-color;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.form-footer-sign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form-footer {
  margin-bottom: 0;
}


.sale-button {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 10px 32px;
  max-width: 200px;
  max-height: 50px;

  margin-left: 12px;

  color: $primary-body-color;
  background-color: $decoration-text-color;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;
  text-align: center;
  border: 1px solid transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $solution-button-color;
    cursor: pointer;
  }

  & .icon {
    margin-left: 10px;
    fill: $primary-body-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover .icon,
  &:focus .icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

}


